html
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    body
        form(method='post', action='/login')
      
            button.btn.btn-block.btn-default(type='submit') Se connecer
            button.btn.btn-block.btn-default(type='submit') S'enregistrer