html
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    body
        a(href='/login')
            button.btn.btn-block.btn-default Se connecter
        |
        |
        a(href='/registration')
            button.btn.btn-block.btn-default S'enregistrer
