html
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    body
        form(method='get', action='/login')
            button.btn.btn-block.btn-default(type='submit') Se connecer
        form(method='get', action='/registration')
            button.btn.btn-block.btn-default(type='submit') S'enregistrer