doctype html
html
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    body
        form(method='post', action='/')
            .form-group
                input#firstname.form-control(type='text', placeholder='Saisissez votre pseudo', name='pseudo')
                |
                input#lastname.form-control(type='password', placeholder='Saisissez votre mot de passe', name ='password' value='')
                |
                input#domaine.form-control(type='password', placeholder='Saisissez à nouveau votre mot de passe', name ='password' value='')

            button.btn.btn-block.btn-default(type='submit') Afficher