doctype html
html
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        script(src='jquery-3.2.1.min.js')
    body
        form#listE(method='post', action='')
            .form-group
                input#firstname.form-control(type='text', placeholder='Saisissez votre prénom', name='firstname', required)

                input#lastname.form-control(type='text', placeholder='Saisissez votre nom', name ='lastname' value='', required)

                input#domaine.form-control(type='text', placeholder='Saisissez le nom de domaine', name ='domaine' value='', required)

            button#resBtn.btn.btn-block.btn-default(type='submit') Afficher

        a(href="http://www.google.fr") Telecharger

        #result

        script(src='event.js')